/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;;
}

/* -------------------- */
/* CSS general */
body {
    --dashboard-background-color: black;
    --dashboard-items-color: rgb(219, 222, 222);
    --check-color: lightgreen;
    --uncheck-color: red;
}


.mainContainer {
    /* width: calc(100vw - 100px); */
    margin-left: 150px;
    margin-bottom: 100px;
}

/* -------------------- */

/* Navbar */
.main-menu {
background-color: var(--dashboard-background-color);
position: fixed;
top: 0;
bottom: 0;
height: 100%;
left: 0;
width: 100px;
overflow:hidden;
z-index: 1000;
}

.main-menu:hover,
nav.main-menu.expanded,
.main-menu__list--item,
.main-menu__list--logout {
    width: 200px;
    overflow: visible;
}

.main-menu__list--item {
    list-style-type: none;
    vertical-align: middle;
    padding-top: 100px;
}

.main-menu__list--link {
    text-decoration: none;
    color: var(--dashboard-items-color);
}

.main-menu__list--logout {
    position: absolute;
    bottom: 10px;
}

.main-menu__list--i {
    vertical-align: middle;
}

.main-menu__list--title {
    padding-left: 30px;
}

.fa-dumbbell {
    transform: rotate(-45deg);
}

.menuMobile {
    display: none;
}

/* -------------------- */

/* Card Homepage */
.card {
    border-radius: 20px;
}

.card:hover {
    box-shadow: 15px 15px 20px 5px rgba(0,0,0,0.7);
}

/* To align the text to the bottom of the card */
.card-body {
    display: flex;
    flex-direction: column;
}

.card-text {
    margin-top: auto;
    text-decoration: none;
}

/* -------------------- */

/* user-consult page */
.user__btn--icon:hover {
    color: white;
}

.user__btn--btn:hover {
    background-color: red;
}

.check {
    color:var(--check-color);
    padding-left: 5px;
}

.uncheck {
    color: var(--uncheck-color);
    padding-left: 5px;
}

.hide {
    display: none;
}

@media screen and (max-width: 1030px) {
    body {
        font-size: 18px;
    }

    .main-menu {
        display: none;
    }

    .menuMobile {
        display: flex;
    }

    .main-menu__list--i {
        padding-top: 0;
        padding-top: 15px;
    }

    .main-menu__list--logout {
        position: relative;
        bottom: 0;
    }

    .menuMobile__ul {
        background-color: var(--dashboard-background-color);
        height: 70px;
    }

    .mainContainer {
        margin-left: 0;
    }

    .btn-new {
        display: flex;
        justify-content: center;
    }

    .card__infos {
        text-align: center;
    }
    
}