/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;;
}

/* -------------------- */

body {
    --dashboard-background-color: black;
    --dashboard-items-color: rgb(219, 222, 222);
    --check-color: lightgreen;
    --uncheck-color: red;
}

/* -------------------- */

/* Navbar */
.main-menu {
background-color: var(--dashboard-background-color);
position: absolute;
top: 0;
bottom: 0;
height: 100%;
left: 0;
width: 100px;
overflow:hidden;
z-index: 1000;
}

.main-menu:hover,
nav.main-menu.expanded,
.main-menu__list--item,
.main-menu__list--logout {
    width:250px;
    overflow:visible;
}

.main-menu__list--item {
    list-style-type: none;
    vertical-align: middle;
    padding-top: 50px;
}

.main-menu__list--link {
    text-decoration: none;
    color: var(--dashboard-items-color);
}

.main-menu__list--logout {
    position: absolute;
    bottom: 10px;
}

.main-menu__list--i {
    vertical-align: middle;
}

.main-menu__list--title {
    padding-left: 50px;
}

.fa-dumbbell {
    transform: rotate(-45deg);
}

/* -------------------- */

/* Card Homepage */
.card {
    border-radius: 20px;
}

.card:hover {
    box-shadow: 15px 15px 20px 5px rgba(0,0,0,0.7);
}

/* To align the text to the bottom of the card */
.card-body {
    display: flex;
    flex-direction: column;
}

.card-text {
    margin-top: auto;
    text-decoration: none;
}

/* structure-consult page */
.structure__btn--icon:hover {
    color: white;
}

.structure__btn--btn:hover {
    background-color: red;
}

.check {
    color:var(--check-color);
    padding-left: 5px;
}

.uncheck {
    color: var(--uncheck-color);
    padding-left: 5px;
}