{% extends 'base.html.twig' %}

{% block title %}Hello TechnicalTeamController!{% endblock %}

{% block body %}

<div class="container">
    {{ include('_navbar.html.twig') }}

    <h1 class="text-center mt-3">Bienvenue {{ app.user.firstname | capitalize }}</h1>

    
</div>
{% endblock %}
