{% extends 'base.html.twig' %}

{% block title %}Nouveau Mot de passe{% endblock %}

{% block body %}

<div class="container">
    <h1 class="text-center m-5">Nouveau mot de passe valide</h1>
    <p class="text-center m-5">Votre nouveau de passe a bien été modifié.</p>
    <div class="d-flex justify-content-center">
        <a href="{{ path('app_structure_consult') }}" class="btn btn-outline-success mt-2">Mon compte</a>
    </div>
</div>
{% endblock %}
